* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  padding: 2.5rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.title {
  font: 2.3rem Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
}

input {
  margin-top: 4px;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.dropdowns {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dropdowns label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.dropdowns label select {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(207, 206, 206);
  border: 1px solid black;
  border-radius: 4px;
}

.answer {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2rem;
}

.convert {
  margin-top: 0.8rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(248, 182, 0);
  border: 1px solid rgb(248, 183, 3);
  border-radius: 6px;
}

.error {
  color: rgb(250, 37, 37);
  font-size: smaller;
}