body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(231, 231, 231);
  font-family: Arial, sans-serif;
}